/** HEADER **/
#header-nav {
    background-color: #f6b319; /* Establece un color de fondo amarillo para el header */
    border-radius: 0;           /* hace que el header no tenga bordes redondeados */
    border: 0;                  /* Sin borde en el header */
  }
  
  #logo-img {
    background: url("../images/restaurant-logo_large.png") ; /* Imagen de fondo del logo, no se repite */
    width: 150px;               /* Ancho fijo del logo de 150px */
    height: 150px;              /* Altura fija del logo de 150px */
    margin: 10px 15px 10px 0;   /* Márgenes: arriba 10px, derecha 15px, abajo 10px, izquierda 0 */
  }
  
  .navbar-brand {
    padding-top: 25px;          /* Espacio de 25px arriba del contenido */
  }
  
  .navbar-brand h1 {
    /* Restaurant name */
    font-family: "Lora", serif; /* Fuente "Lora" con estilo serif */
    color: #557c3e;             /* Color del texto verde oscuro */
    font-size: 1.5em;           /* Tamaño del texto 1.5 veces el normal */
    text-transform: uppercase; /*  texto en mayúsculas */
    font-weight: bold;          /* Texto en negrita */
    text-shadow: 1px 1px 1px #222; /* Sombra al texto (1px a la derecha, 1px abajo, color oscuro) */
    margin-top: 0;              /* Sin margen superior */
    margin-bottom: 0;           /* Sin margen inferior */
    line-height: 0.75;          /* Altura de línea reducida al 75% */
  }
  
  .navbar-brand a:hover,
  .navbar-brand a:focus {
    text-decoration: none;      /* Elimina el subrayado de los enlaces al pasar el mouse o enfocar */
  }

  .navbar-brand p { /* Kosher cert */
    color: #000;                /* Color del texto negro */
    text-transform: uppercase;  /* Convierte todo el texto en mayúsculas */
    font-size: .7em;             /* Tamaño de fuente más pequeño (70% del tamaño base) */
    margin-top: 15px;            /* Agrega espacio de 15px arriba del párrafo */
  }
  
  .navbar-brand p span { /* Star-K */
    vertical-align: middle;      /* Alinea verticalmente el contenido del <span> al centro respecto al texto */
  }
  