

/** HEADER **/
#header-nav {
  background-color: #f6b319; /* Establece un color de fondo amarillo para el header */
  border-radius: 0; /* hace que el header no tenga bordes redondeados */
  border: 0; /* Sin borde en el header */
}
body {
  background-color: #61122f; /* Color vino oscuro */
}

#logo-img {
  background: url("../images/restaurant-logo_large.png"); /* Imagen de fondo del logo, no se repite */
  width: 150px; /* Ancho fijo del logo de 150px */
  height: 150px; /* Altura fija del logo de 150px */
  margin: 10px 15px 10px 0; /* Márgenes: arriba 10px, derecha 15px, abajo 10px, izquierda 0 */
}

.navbar-brand {
  padding-top: 25px; /* Espacio de 25px arriba del contenido */
}

.navbar-brand h1 {
  /* Restaurant name */
  font-family: "Lora", serif; /* Fuente "Lora" con estilo serif */
  color: #557c3e; /* Color del texto verde oscuro */
  font-size: 1.5em; /* Tamaño del texto 1.5 veces el normal */
  text-transform: uppercase; /*  texto en mayúsculas */
  font-weight: bold; /* Texto en negrita */
  text-shadow: 1px 1px 1px #222; /* Sombra al texto (1px a la derecha, 1px abajo, color oscuro) */
  margin-top: 0; /* Sin margen superior */
  margin-bottom: 0; /* Sin margen inferior */
  line-height: 0.75; /* Altura de línea reducida al 75% */
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none; /* Elimina el subrayado de los enlaces al pasar el mouse o enfocar */
}

.navbar-brand p {
  /* Kosher cert */
  color: #000; /* Color del texto negro */
  text-transform: uppercase; /* Convierte todo el texto en mayúsculas */
  font-size: 0.7em; /* Tamaño de fuente más pequeño (70% del tamaño base) */
  margin-top: 15px; /* Agrega espacio de 15px arriba del párrafo */
}

.navbar-brand p span {
  /* Star-K */
  vertical-align: middle; /* Alinea verticalmente el contenido del <span> al centro respecto al texto */
}

/*AVANCE PARTE 2*/
#nav-list {
  margin-top: 10px; /* Agrega un espacio de 10px arriba del listado de navegación */
}

#nav-list a {
  color: #951c49; /* Color del texto de los enlaces (un tono vino) */
  text-align: center; /* Centra el texto dentro de los enlaces */
}

#nav-list a:hover {
  background: #e7e7e7; /* Cambia el fondo a gris claro cuando el usuario pasa el mouse sobre un enlace */
}

#nav-list a span {
  font-size: 1.8em; /* Aumenta el tamaño del ícono o texto dentro del enlace */
}

#phone {
  margin-top: 5px; /* Agrega espacio (5px) arriba del número de teléfono */
}

#phone a {
  /* Phone number */
  text-align: right; /* Alinea a la derecha el enlace del teléfono */
  padding-bottom: 0; /* Elimina el padding inferior del enlace */
}

#phone div {
  /* We Deliver */
  color: #557c3e; /* Color verde oliva para el texto "We Deliver" */
  text-align: right; /* Alinea a la derecha el texto debajo del teléfono */
  padding-right: 15px; /* Agrega 15px de espacio a la derecha del texto */
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #61122f; /* Aplica un borde color vino oscuro al botón de hamburguesa y sus rayas */
}

.navbar-header button.navbar-toggle {
  clear: both; /* Limpia cualquier flotado para que el botón no se superponga con otros elementos */
  margin-top: -30px; /* Mueve el botón hacia arriba 30px para ajustarlo mejor en la cabecera */
}

/*tercer avance*/

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3f0c1f;
  border: 2px solid #3f0c1f;
}
/* END HOME PAGE */

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3f0c1f;
  border: 2px solid #3f0c1f;
}
#menu-tile,
#specials-tile,
#map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
}
#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url("../images/menu-tile.jpg") no-repeat;
  background-position: center;
}
#specials-tile {
  background: url("../images/specials-tile.jpg") no-repeat;
  background-position: center;
}
#menu-tile span,
#specials-tile span,
#map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}
/* END HOME PAGE */

/*FOOTER*/

/* Footer */
/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: white;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
.panel-footer section {
  margin-bottom: 30px;
  text-align: center;
}
.panel-footer section:nth-child(3) {
  margin-bottom: 0; /* Ya hay margen en la fila */
}
.panel-footer section hr {
  width: 50%;
}
#hours,
#address {
  line-height: 2;
}
#hours > span,
#address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: 0.8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}

/* END FOOTER */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url("../images/jumbotron_1200.jpg") no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url("../images/restaurant-logo_medium.png") no-repeat; /* Cambia el logo por una versión más pequeña */
    width: 100px; /* Reduce el ancho del logo a 100px */
    height: 100px; /* Reduce la altura del logo a 100px */
    margin: 5px 5px 5px 0; /* Márgenes más pequeños para acomodar mejor el logo en pantallas medianas */
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url("../images/jumbotron_992.jpg") no-repeat;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url("../images/jumbotron_768.jpg") no-repeat;
    height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px; /* Reduce el padding superior de la marca */
    height: 80px; /* Reduce la altura total de la marca para que ocupe menos espacio */
  }
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px; /* Agrega un pequeño espacio arriba del título */
    font-size: 5vw; /* Hace que el tamaño del título sea proporcional al ancho de la pantalla */
  }
  .navbar-brand p {
    /* Kosher cert */
    font-size: 0.6em; /* Hace el texto del párrafo más pequeño */
    margin-top: 12px; /* Ajusta el margen superior para el párrafo */
  }
  .navbar-brand p img {
    /* Star-K */
    height: 20px; /* Hace el logo de la certificación más pequeño para pantallas pequeñas */
  }
  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em; /* Aumentael tamaño del texto del menú colapsado */
  }
  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em; /* Establece tamaño normal para los íconos */
    margin-right: 5px; /* Agrega separación entre el ícono y el texto */
  }
  #call-btn > a {
    font-size: 1.5em; /* Agranda el botón de llamada para hacerlo más visible */
    display: block; /* Hace que ocupe todo el ancho disponible */
    margin: 0 20px; /* Agrega márgenes laterales */
    padding: 10px; /* Agrega espacio interno para el botón */
    border: 2px solid #fff; /* Pone un borde blanco alrededor del botón */
    background-color: #f6b319; /* Establece un fondo amarillo para el botón */
    color: #951c49; /* Color de texto vino */
  }
  #xs-deliver {
    margin-top: 5px; /* Espacio superior para el texto de delivery */
    font-size: 0.7em; /* Tamaño pequeño de letra */
    letter-spacing: 0.1em; /* Espaciado entre letras para mejor lectura */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  /* End Home Page */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile,
  #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists
  on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  /* Home page */
  #menu-tile,
  #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
}
